button,
input,
optgroup,
select,
textarea,
input[type="submit"],
fieldset {
  -webkit-appearance: none;
  appearance: none;
  background: none;
  border: none;
  margin: 0;
  outline: none;
  padding: 0;
}

@import "../src/toggle.scss";
@import "../src/label.scss";
@import "../src/fieldset.scss";
@import "../src/text-field.scss";
@import "../src/textarea-field.scss";
@import "../src/telephone-field.scss";
@import "../src/add-multiple-complex.scss";
@import "../src/form-item.scss";

.form-item:has(input[name="first_name"]) {
  grid-column: 1;
}
.form-item:has(input[name="last_name"]) {
  grid-column: 2;
}
