.application-form {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu,
    Helvetica Neue, sans-serif;
  color: #16161d;
  display: flex;
  flex-direction: column;
  gap: 64px;
  border: none;
  max-width: 760px;
  margin: 0 auto;

  .legend {
    all: unset;
    margin-bottom: 16px;
    font-size: 2em;
  }

  .fieldset {
    all: unset;
    display: flex;
    flex-direction: column;
    gap: 32px;
  }

  .row {
    display: block;

    &.group {
      display: flex;
      gap: 32px;

      & > div {
        flex: 1;
      }
    }
  }

  .field {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .field-boolean {
    display: flex;
    flex-direction: row;
  }

  .input-wrapper {
    width: 100%;
  }

  .input-wrapper
    input:not([type="checkbox"]):not([type="file"]):not([type="tel"]),
  .input-wrapper textarea {
    width: 100%;
    border: 1px solid #ddd;
    background-color: #fcfcfc;
    border-radius: 3px;
    padding: 12px;
    font-size: 1rem;
  }

  input[type="checkbox"] {
    vertical-align: top;
    border: 1px solid red;
  }

  input[type="date"] {
    font-family: inherit;
  }

  textarea {
    height: 250px;
  }

  .field-label {
  }

  .required {
    color: #f00;
    margin-left: 4px;
    display: inline-block;
  }

  .optional {
    color: #999;
    margin-left: 4px;
    display: inline-block;
  }

  .add-multiple-complex-form {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .add-multiple-complex-entry {
    position: relative;
  }

  .add-multiple-complex {
    position: relative;
    padding: 16px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 16px;
    border-radius: 3px;
    margin-top: 16px;
  }

  .add-multiple-complex-buttons {
    position: absolute;
    right: 16px;
    top: 0;
  }

  .add-multiple-complex-add {
    margin-top: 16px;
    padding: 16px;
    background: #fcfcfc;
    border: 1px solid #ddd;
  }

  .button-row {
    display: flex;
    gap: 8px;
  }

  .button {
    all: unset;
    padding: 8px 12px;
    border-radius: 3px;
    text-align: center;
  }

  .button-save {
    background-color: green;
    color: white;
  }

  .button-cancel {
    background-color: transparent;
  }

  .button-submit {
    background-color: green;
    color: white;
    padding: 12px 16px;
  }

  .button-delete {
  }

  .button-edit {
  }

  .dropzone {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    background-color: #fcfcfc;
  }

  .iti {
    width: 100%;

    input {
      width: 100%;
      border: 1px solid #ddd;
      background-color: #fcfcfc;
      border-radius: 3px;
      padding-top: 12px;
      padding-bottom: 12px;
      font-size: 1rem;
    }
  }
}

/* Radix Dialog */

.DialogOverlay {
  background-color: #16161d;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 10;
  opacity: 0.6;
}

.DialogContent {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 20;
  overflow: scroll;
}

.DialogContent:focus {
  outline: none;
}

.DialogTitle {
  margin: 0;
  font-weight: 500;
  font-size: 17px;
}

.DialogClose {
  all: unset;
  position: absolute;
  right: 16px;
  top: 16px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
