.button {
  all: unset;
  padding: 0 1.5rem;
  font-weight: bold;
  max-width: 100%;
  background-color: white;
  cursor: pointer;
  display: inline-flex;
  grid-auto-flow: column;
  justify-content: center;
  place-items: center;
  position: relative;
  transition-duration: 200ms;
  transition-property: background-position, border-color, box-shadow, color,
    outline, -webkit-transform;
  transition-property: background-position, border-color, box-shadow, color,
    outline, transform;
  transition-property: background-position, border-color, box-shadow, color,
    outline, transform, -webkit-transform;
  transition-timing-function: cubic-bezier(0.2, 0.07, 0.38, 1);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  will-change: background-position, border-color, box-shadow, color, outline,
    transform;
  min-height: 1.875rem;
  padding: 0 1rem;
  border-radius: 2rem;
  font-size: 0.875rem;
  line-height: 1.375rem;
}

.button--primary {
  outline-color: var(--button-outline-secondary);
  background-image: linear-gradient(
    45deg,
    var(--button-color-primary) 50%,
    var(--button-color-secondary)
  );
  background-position: 100% 0;
  background-size: 200%;
  color: #fff;
}

.button--primary:hover {
  background-position: 0 100%;
  box-shadow: 0 4px 12px -2px rgb(var(--button-outline-shadow-color-rgb) / 40%);
}

.button--primary:focus {
  outline: var(--button-outline-secondary) solid 0.1875rem;
  outline-offset: 0.125rem;
}

.button--secondary {
  outline-color: var(--button-outline-secondary);
  border: 0.125rem solid var(--button-color-primary);
  color: var(--button-color-primary);
}

.button--secondary:hover {
  box-shadow: 0 4px 12px -2px rgb(var(--button-outline-shadow-color-rgb) / 15%);
  border-color: var(--button-color-primary);
}

.button--secondary:focus {
  outline: var(--button-outline-secondary) solid 0.1875rem;
  outline-offset: 0.125rem;
}

.button--tertiary {
  outline-color: var(--button-outline-secondary);
  border: 0.125rem solid #dddee1;
  color: var(--button-color-primary);
}

.button--tertiary:hover {
  box-shadow: 0 4px 12px -2px rgb(var(--button-outline-shadow-color-rgb) / 15%);
  border-color: var(--button-color-primary);
}

.button--tertiary:focus {
  outline: var(--button-outline-secondary) solid 0.1875rem;
  outline-offset: 0.125rem;
}

.button--md {
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.375rem;
  height: 2.25rem;
}

.button--lg {
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5625rem;
  height: 3rem;
}
