.complex-multiple__add {
}

.complex-multiple__entries {
}

.complex-multiple__entry {
  position: relative;
  padding: 16px;
  border: 1px solid #ddd;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 3px;
  margin-top: 16px;
}

.complex-multiple__entry-actions {
  position: absolute;
  right: 12px;
  top: 12px;
  display: flex;
  gap: 16px;
}

.complex-multiple__entry-table {
  table-layout: fixed;
  border: 0;
  border-collapse: collapse;
  width: 100%;
  max-width: 500px;

  & td,
  & th {
    padding: 4px 0;
    text-align: left;
  }
}
/* Radix Dialog */

.dialog-overlay {
  background-color: #16161d;
  position: fixed;
  inset: 0;
  animation: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 10;
  opacity: 0.6;
}

.dialog-content {
  background-color: white;
  border-radius: 6px;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  z-index: 20;
  overflow: scroll;
}

.dialog-content:focus {
  outline: none;
}

.dialog-title {
  margin: 0;
  font-weight: 500;
  font-size: 17px;
}

.dialog-close {
  all: unset;
  position: absolute;
  right: 16px;
  top: 16px;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.6;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -48%) scale(0.96);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}
