.form-fieldset {
  all: unset;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  padding-top: 16px;
}

.form-fieldset + .form-fieldset {
  margin-top: 64px;
}

.form-legend {
  display: grid;
  justify-items: start;
  text-align: left;
  width: 100%;
}

.form-legend__title {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 700;
  color: #21283b;
  display: block;
}

@media screen and (min-width: 768px) {
  .form-legend__title {
    font-size: 1.375rem;
    line-height: 2.1875rem;
  }
}

@media screen and (min-width: 1200px) {
  .form-legend__title {
    font-size: 1.5rem;
    line-height: 2.375rem;
  }
}
.form-legend__text {
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5625rem;
  color: #595d6a;
  display: block;
}
