.form-field {
  border-radius: 0.5rem;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5625rem;
  color: #21283b;
  outline: 0.1875rem solid transparent;
  outline-offset: 0;
  transition-duration: 0.2s;
  transition-property: border-color, outline-color;
  transition-timing-function: cubic-bezier(0.2, 0.07, 0.38, 1);
  background-color: #fff;
  border: 0.125rem solid var(--border-color);
  cursor: text;
  position: relative;
  width: 100%;
  font-family: inherit;
}

.form-field:focus-within,
.form-field:hover {
  border-color: var(--border-focus-color);
}
.form-field:focus-within {
  outline-color: var(--border-outline-color);
}

.form-field__wrapper {
  cursor: inherit;
  display: flex;
  height: 100%;
}

.form-field__text {
  height: 2.875rem;
  padding: 0 1rem;
  width: 100%;
  font-family: inherit;
  font-size: 1rem;
}

.form-field__maxlength {
  position: absolute;
  bottom: 0px;
  right: 4px;
  font-size: 0.75rem;
  background-color: white;
}
