.form--initial {
}

.form--saving {
  * {
    pointer-events: none;
  }

  .button {
    opacity: 0.5;
  }
}

.form--error {
}

.form__error {
  color: var(--form-error-text-color);
  margin-top: 20px;
}

.form--complete {
  display: none;
}
