.iti {
  width: 100%;

  input {
    width: 100%;
    border-radius: 3px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 1rem;
    font-family: inherit;
  }

  .iti__selected-flag {
    border-radius: 5px 0 0 5px;
  }
}
