.dropzone {
  border: 1px solid var(--border-color);
  padding: 10px;
  text-align: center;
  cursor: pointer;

  &[data-state="success"] {
    border-color: var(--dropzone-success-color);
  }

  &[data-state="error"] {
    border-color: var(--dropzone-error-color);
  }
}

.dropzone__label {
  span {
    text-decoration: underline;
    color: var(--dropzone-label-color);
  }
}

.dropzone:hover .dropzone__label span {
  text-decoration: none;
}

.dropzone__info {
  font-size: 0.85rem;
  opacity: 0.7;
}
